<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Free Video Calling website" />
    <meta name="keywords" content="Django,Agora,Python,HTML,JavaScript,CSS,Pythonanywhere.com" />
    <meta name="author" content="Naresh Choudhary" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://img.icons8.com/flat-round/64/000000/galaxy.png"
      type="image/x-icon"
    />
    <title>Andromeda</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}" />
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
